{% extends 'base.html.twig' %}
{% block title %}Log in{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div id="logreg-forms">
        <form class="form-signin" action="{{ path('appLogin') }}" method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <input type="email" placeholder="Email address" value="{{ last_username }}"
                   name="_username" id="inputEmail" class="form-control"
                   required
                   autofocus>

            <br>

            <input type="password" name="_password" id="inputPassword"
                   class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            #}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <button class="btn btn-success btn-primary btn-block" type="submit">
                <i class="fas fa-sign-in-alt"></i> Sign in
            </button>
            <hr>
            <a href="{{ path('resetPass') }}" id="forgot_pswd">Forgot password?</a>
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"
                    onclick="window.location.href='{{ path('listAll') }}'">
                <i class="fas fa-user-plus"></i> Sign up new account
            </button>


        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('css/login.css') }}"></script>
{% endblock %}
