{% extends 'base.html.twig' %}
{% block title %}Form{% endblock %}

{% block body %}
    <h2>{{ message }}</h2>

    <p>
        id: {{ id }}
    </p>

    <p>
        Name: {{ name }}
    </p>

    <p>
        Price: {{ price }}€
    </p>

    <p>
        Description: {{ desc }}
    </p>
    <br>
    <a href="{{ path('listAll') }}">List for all products</a>
{% endblock %}