{% extends 'userNavbar.html.twig' %}
{% block title %}Form{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <table class="tg">
        <tr>
            <th class="tg-0lax">Id</th>
            <th class="tg-0lax">Name</th>
            <th class="tg-0lax">Price</th>
            <th class="tg-0lax">Description</th>
            <th class="tg-0lax">User</th>
            <th class="tg-0lax">Update</th>
            <th class="tg-0lax">Delete</th>
        </tr>
        {% for pro in product %}
            <tr>
                <td class="tg-0lax">{{ pro.getId }}</td>
                <td class="tg-0lax">{{ pro.getName }}</td>
                <td class="tg-0lax">{{ pro.getPrice }}€</td>
                <td class="tg-0lax">{{ pro.getDescription }}</td>
                <td class="tg-0lax">{{ pro.getUser.email }}</td>
                <td class="tg-0lax"><a href="{{ path('update', {id : pro.getId}) }}"><i class="fas fa-edit"></i>Update</a></td>
                <td class="tg-0lax"><a href="{{ path('delete', {id : pro.getId}) }}"><i class="fas fa-trash-alt"></i>Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ path('create') }}'" >
        <i class="far fa-plus-square"></i>&nbsp;Add product
    </button>
{% endblock %}